<head>
<link rel="stylesheet" href="../../assets/stylesheets/application.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Questrial&display=swap" rel="stylesheet">
</head>
<header>
<a class="logo" href="/home">
<%= image_tag 'logo_yedus_bon_1.png'%>
</a></header>

<h1 class="mb-5">Comment te sens-tu?</h1>

<% @songs.each do |song| %>
  <a class="btn btn-lg btn-outline-primary me-4" href="<%= song.link %>" target="_blank">
    <%= song.emotion %>
  </a>
<% end %>

<p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">Produit par Anais Akkouche</p>
