/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 $primary:#8979A3;
@import "bootstrap";
header{
  margin-bottom: 50px;
}

 h1{
  font-family: 'Questrial', sans-serif;
  color: #031827;
  text-align: center;
  margin-top: 5px
}

body{
  font-family:'Montserrat', sans-serif; ;
  font-size: medium;
  background-color:#f8f4ea;
  text-align: center;
  color: #8979A3;
}

 a {
     font-size: large;
     text-align:center;

 }

.btn{
  color: #8979A3 !important;
  margin-top: 100px;
  margin-right: 20px;
}

.btn-outline-primary{
  border: 2px solid #8979A3 !important;
}
