h1{
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

body{
  font-family:'Montserrat', sans-serif; ;
  font-size: medium;
  background-color:#f0ebe0;
  text-align: center;
}

a{
  text-align: center;
}
